.main-container-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content-help {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}